<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand">SubscriptTables</a>
      <a>{{> view_control}}</a>

      <div class="nav-collapse collapse">
 
        <ul class="nav">
        </ul>
        <ul class="nav pull-right">
          <ul class="navbar-right">
            <li>{{> loginButtons}}</li>
          </ul>
        </ul>
      </div>
    </div>
  </header>
</template>

<template name="view_control">

    <div class="dropdown span4">
      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Select a Table To View
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {{#each tables}}
          <li><a class="poss-choice viewControl" id="{{tableId}}_btn" href="#">{{displayTableName}}</a></li>
        {{/each}}
      </ul>
    </div>

</template>
